<html>
<head>
</head>
<body>
<form method="POST" action="/">
    <label>Destination ( # for room, @ for person )</label><br/>
    <input type="text" name="destination" required>
    <br/><br/>
    <label>Message</label><br/>
    <textarea name="message" required></textarea><br/>
    <button type="submit">Submit</button>
    <br/><br/><br/><br/><br/><br/><br/>
    <label>Bot Name</label><br/>
    <input type="text" name="username"><br/><br/>
    <label>Emoji</label><br/>
    <input type="text" name="emoji">
</form>
</body>
</html>